.navbar {
  background-color: var(--white-color);
  color: var(--dark-color);
  align-items: center;
  ul {
    list-style: none;
  }
  a {
    text-decoration: none;
    font-weight: 600;
  }
}

.item-count {
  color: red;
}

.company-logo {
  color: #2e2e2e;
  font-size: 20px;
  margin-left: 20px;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.navbar-nav {
  display: flex;
  align-items: center;
}

.nav-link {
  display: inline-block;
  color: var(--gray-color);
  font-size: 16px;
  padding: 0 0.2rem;
}

.delimiter {
  border-right: 2px solid var(--gray-color);
  height: 20px;
}

.spacer {
  flex: 1 1 auto;
}

.hidden {
  display: none;
}
