<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav"
               fixedInViewport
               [ngClass]="{hidden: !(isHandset$ | async)}"
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Logo</mat-toolbar>
    <mat-nav-list>
      <a *ngIf="!authService.isLoggedIn()" mat-list-item routerLink="login">Login</a>
      <a *ngIf="!authService.isLoggedIn()" mat-list-item routerLink="sign-up">Sign Up</a>
      <a mat-list-item routerLink="cart">Shopping Cart</a>
      <a *ngIf="authService.isLoggedIn()" mat-list-item routerLink="logout">Logout</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="navbar">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side navigation">menu</mat-icon>
      </button>
      <a routerLink="certificates" class="company-logo">Logo</a>
      <span class="spacer"></span>
      <ul class="navbar-nav">
        <li [ngClass]="{hidden: (isHandset$ | async)}" *ngIf="!authService.hasAnyRole(['ROLE_ADMIN'])">
          <a mat-button routerLink="cart" class="nav-link">
            <mat-icon aria-label="Shopping cart">shopping_cart</mat-icon>
          </a>
        </li>
        <li *ngIf="!authService.isLoggedIn()" [ngClass]="{hidden: (isHandset$ | async)}">
          <a mat-button routerLink="login" class="nav-link">Login</a>
        </li>
        <li [ngClass]="{hidden: (isHandset$ | async)}" class="delimiter">
        </li>
        <li *ngIf="authService.isLoggedIn()" [ngClass]="{hidden: (isHandset$ | async)}">
          <a mat-button routerLink="logout" class="nav-link">Logout</a>
        </li>
        <li *ngIf="!authService.isLoggedIn()" [ngClass]="{hidden: (isHandset$ | async)}">
          <a mat-button routerLink="sign-up" class="nav-link">Sign Up</a>
        </li>
      </ul>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
