@import "src/app/shared/styles/_colors.scss";

.checkout-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: $white-color;

  .header {
    color: $white-color;
    background-color: #bdbdbd;

    .title {
      height: 100%;
      width: 60%;
      margin: 0 auto;
      padding: 15px 0;
      font-size: 20px;
    }
  }
}

.product-wrapper {
  width: 60%;
  margin: 20px auto 0;
}

.product {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 20px;
}

.product-image {
  width: 20%;
  text-align: center;

  img {
    width: 120px;
    height: 120px;
  }
}

.product-details {
  width: 40%;

  .product-title {
    font-size: 20px;
    font-weight: 500;
  }

  .product-description {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin: 5px 20px 5px 0;
    line-height: 1.6em;
  }
}

.product-price {
  width: 10%;
}

.product-quantity {
  width: 10%;

  .action {
    display: inline-flex;
    align-items: center;
    width: 40px;
    padding: 1px 2px;

    span {
      font-size: 18px;
      font-weight: 500;
    }

    i {
      cursor: pointer;
    }
  }

}

.product-removal {
  width: 10%;
  text-align: center;

  .remove-product {
    background-color: $red-color;
    color: $white-color;
    border: 0;
    padding: 5px 6px;
    font-size: 12px;
    border-radius: 3px;
    cursor: pointer;

    span {
      display: none;
    }
  }
}

.cart-item-price {
  width: 10%;

  .content {
    display: none;
  }
}

.total {
  display: flex;
  justify-content: flex-end;

  .price {
    margin-left: 55px;
  }
}

.btn-group {
  display: flex;
  justify-content: flex-end;
}

.btn {
  min-width: 64px;
  width: 140px;
}

.btn-checkout {
  margin-left: 5px;
  color: $white-color;
  border: 1px solid $green-color;
  background-color: $green-color;
}

.btn-back {
  margin-right: 5px;
  color: #9a9a9a;
  border: 1px solid #d9d9d9;
  background-color: $white-color;
}

@media only screen and (min-width: 768px) {
  .product-wrapper {
    width: 80%;
  }
}

@media only screen and (max-width: 768px) {
  .product-wrapper {
    width: 100%;
  }

  .product {
    flex-wrap: wrap;
    margin-bottom: 0;

    &:not(:last-child) {
      border-bottom: 1px solid #d3d3d3;
    }

  }

  .product-image {
    width: 100%;
  }

  .product-details {
    width: 100%;
  }

  .product-quantity {
    width: 50%;
  }

  .product-price {
    width: 50%;
    display: flex;
    justify-content: flex-end;

    h3 {
      margin-right: 10px;
    }

  }

  .product-removal {
    width: 100%;
    order: 6;
    padding-bottom: 20px;

    .remove-product {
      width: 100%;

      span {
        display: block;
        padding: 5px 0;
      }

      mat-icon {
        display: none;
      }

    }

  }

  .cart-item-price {
    width: 100%;

    .content {
      display: inline-block;
    }

  }
}
