<div class="content-wrapper">
  <div class="login-form">
    <div class="logo">Logo</div>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div>
        <mat-form-field appearance="outline" class="form-group">
          <mat-label>Email</mat-label>
          <input matInput
                 type="text"
                 formControlName="email"
          >
          <mat-error *ngIf=" loginForm.get('email').hasError('email') && !loginForm.get('email').hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="loginForm.get('email').hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-group">
          <mat-label>Password</mat-label>
          <input matInput
                 type="password"
                 formControlName="password"
          >
          <mat-error
            *ngIf="loginForm.get('password').hasError('minlength')">
            The password must be of minimum length 6 characters
          </mat-error>
          <mat-error *ngIf="loginForm.get('password').hasError('required')">
            Password is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <div class="alert alert-danger" *ngIf="badCredentials">Incorrect login or password</div>

        <button mat-button
                type="submit"
                class="submit-btn">Login</button>
      </div>
    </form>
  </div>
</div>

