@import "src/app/shared/styles/_colors.scss";

.btn-top {
  display: block;
  position: fixed;
  bottom: 20px;
  right: 10px;
  z-index: 99;
  font-size: 18px;
  font-weight: 600;
  border: none;
  box-shadow: 5px 10px 15px #888888;
  outline: none;
  background-color: $white-color;
  color: $gray-color;
  cursor: pointer;
  padding: 20px;
  border-radius: 50%;

  .btn-arrow {
    background-color: transparent;
    border-left: 3px solid $dark-color;
    border-top: 3px solid $dark-color;
    transform: translateY(25%) rotate(45deg);
    height: 12px;
    width: 12px;
  }
}
